.show {
    display: inline-block
}
.hide {
    display: none
}
label {
    padding-right: 1em
}
.reset {
padding: 0.5em 2em;
margin: 0.5em

}
.plusMinus {
    padding: 0.5em 1em;
    margin: 0.5em
}
  
  #grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1em;
    color: white
  }
  
  #border {
    border: 1px solid white;
    background: black;
  }
  li {
      list-style: none;
      padding-right: 2em;
  }
  .App {
    text-align: center;
    margin: 1em
  }
  .blackWhite {
    background: white;
    color: black
  }
  .whiteBlack {
    background: black;
    color: white
  }
  #schalter {
    padding: 1em;
    width: 50%
  }
  #schalter input {
    padding: 1em 2em;
    border-color: gray;
  }
